# These are all the required environment variables you must set
# to run rollcall locally. Copy this file to `.env` and change the
# values as necessary.

AWS_ACCESS_KEY_ID=KEY
AWS_SECRET_ACCESS_KEY=SECRET
AWS_BUCKET=ltitools
AWS_PREFIX=rollcall_dev

# Get Canvas credentials from /developer_keys in Canvas
CANVAS_KEY=SOME_INTEGER
CANVAS_SECRET=SOME_SECRET

RESQUE_USER=admin
RESQUE_PASS=admin

REDIS_URL='redis://localhost:6379'

LTI_KEY='12345'
LTI_SECRET='secret'
LTI_REQUIRE_CANVAS='true'

# Or configure config/database.yml
DATABASE_URL='postgres://postgres@db:5432/rollcall_dev'

# If you want to be able to send attendance reports by email,
# you must configure the following, or configure config/mail.yml. 
# If not configured, mail will not be sent.

SMTP_ADDRESS=mail.yourdomain.edu
SMTP_PORT=465
SMTP_AUTHENTICATION=plain # none, plain, login, or cram_md5
SMTP_USER_NAME=someuser
SMTP_PASSWORD=itsasecret
SMTP_DOMAIN=yourdomain.edu
SMTP_ENABLE_STARTTLS_AUTO=true # true, false
SMTP_OPENSSL_VERIFY_MODE=none # none, peer, client_once, fail_if_no_peer_cert
SMTP_OUTGOING_ADDRESS=Canvas Rollcall <canvas@yourdomain.edu>
