<section id="app-secondary" class="clearfix last">
  <div class="date-picker">
    <a role="button" href="#" class="icon icon-left-arrow date-picker-arrow" id="previous-day" title="Go to previous day"></a>
    <div class="date-picker-date" id="date"></div>
    <a role="button" href="#" class="icon icon-right-arrow date-picker-arrow" id="next-day" title="Go to next day"></a>
  </div>  
  <input type="hidden" id="datepicker" />
</section>
    
<div id="subview-container"></div>
