<div class="attendance-selector">
  <a role="button" href="#" class="btn" id="mark-all-present"><span>Mark all present</span></a>
  <a role="button" href="#" class="btn" id="unmark-all"><span>Unmark all</span></a>
</div>

<section class="content-box clearfix last first" id="list-view-container">
  <div class="block-box one-half first-box">
    <ol id="student-list" class="unstyled-list student-list-display"></ol>
  </div>
  <div class="block-box one-half last-box" id="student-details"></div>
</section>
