<p>
  <b>Student:</b>
  <%= student_id %>
</p>

<p>
  <b>Present:</b>
  <%= present %>
</p>

<p>
  <b>Late:</b>
  <%= late %>
</p>

<p>
  <b>Class date:</b>
  <%= class_date %>
</p>


<a href="#/index">Back</a>
